  <h4>Add Multiple choice questions:</h4>
  <h4><span class="text-muted">1. Select Options</span> | <span class="text-bold">2. Add Questions Text</span></h4>
  <%= form_for @question, {:url => { :action => :update_options} } do |f| %>
    <em>Next, add the text for each of your options</em><br>
    <p class="text-bold">What is your question?</p>
    <%= f.text_field :text, :placeholder => 'eg. "Who does Number Two work for?"' %><br>
      <%= f.fields_for :options do |option_fields| %>
        <%= option_fields.label "Option #{option_fields.index+1}" %><br>
        <%= option_fields.text_field :text %><br>
      <% end %>
    <%= f.submit "Add a Question", class: "btn btn-primary" %>
  <% end %>