<header>
<h1 class="heading">Survey Taker:</h1>
<br>
<h4><%= @survey.title %></h4>
<p><%= @survey.description %></p>
</header>
<p class="text-muted text-center"><em>Questions marked with an asterisk(*) are required</em></p>
<main class="index">
  <%= form_for @response do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, value: "Anonymous" %>
    <%= f.hidden_field :survey_id, value: @survey.id %>
    <% @questions.each_with_index do |q, idx| %>
      <%= render partial: 'questions/question', locals: {question: q, idx: idx+1, f: f} %>
    <% end %>
    <%= f.submit "Submit your survey", class: "btn btn-primary" %>
  <% end %>
</main>
